<!DOCTYPE html> <!-- Tout ecrire en premier --> 
<html>
    <head>
            <meta charset="utf-8"/>
            <title></title>
            <link rel="shortcut icon" type="image/x-icon" href="">
            <link rel="stylesheet" type="text/css" href="styleins.css">
    </head> 
    <section>
    	<div id="centre">
			<h4>Veuillez rentrer vos information pour l'inscription : </h4> <!-- Tout ecrire en premier --> 
			<form action="/mesdonnes" method="post">
				<li>Votre Nom :<input type="text" name="nom"></li>
				<li>Votre Prénom :<input type="text" name="prenom"></li>
				<li>Votre Adresse (N°, Rue) :<input type="text" name="adresse"></li>
				<li>Votre Code Postal :<input type="text" name="cp"></li>
				<li>Votre Ville :<input type="text" name="ville"></li>
				<li>Votre Pays :<input type="text" name="pays"></li>
				<li><input id="sub" type="submit" value="Envoyer"></li>
			</form>
		</div>
	</section>
</html>